@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /*Cuerpo principal*/
    body{
        cursor:url('../img/cursor.png'), auto;
        font-family: 'Concert One', sans-serif;
    }
    #fondo{
        position: absolute;
        width: 100%;
        height: 140vh;
        background: url('../img/fondo.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
    }
    #fondo:before {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
    }
    .contenedor-principal{
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 10;
    }
    .encabezado{
        width: 100%;
        height: 70px;
    }
    .container{
        width: 90%;
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
    }

    .logo i {
        color: white;
        font-size: 24px;
    }

    i,a, button{
        cursor:url('../img/mano.png'), pointer;
    }

    .logo h1{
        color: #fff;
        font-weight: 400;
        font-size: 32px;
        margin-left: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 4px;
    }
    .container .menu{
        float: right;
        line-height: 70px;
    }
    .container .menu a{
        display: inline-block;
        padding: 15px 10px;
        line-height: normal;
        text-decoration: none;
        color: #fff;
        transition: all 0.3s ease;
        border-bottom: 2px solid transparent;
        font-size: 20px;
    }
    .container .menu a:hover{
        border-bottom: 2px solid #c7c7c7;
        padding: 5px 10px;
    }
    /*Buscador*/
    .barra-busqueda{
        width: 500px;
        height: 32px;
        padding: 0 15px;
        border:none;
        border-radius: 50px;
        outline:none;
        background-color: rgba(255,255,255,.2);
        color:white;
    }
    ::-webkit-input-placeholder{
        color: #a1a1a1;
    }

    .btn-busqueda{
        position: relative;
        left: -40px;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        outline:none;
    }

    /*Menu Lateral*/

    .cuerpo-menu{
        position: absolute;
        background: rgba(0,0,0,0.5);
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease;
    }
    .mostrar{
        opacity: 1;
        visibility: visible;
    }
    .contenido-menu{
        width: 100%;
        max-width: 250px;
        background: #1c1c1c;
        height: 120vh;
        position: relative;
        transition: all 500ms ease;
    }
    .titulo-menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 60px;
        color: white;
        letter-spacing: 2px;
    }
    .titulo-menu h3{
        font-size: 24px;
    }
    .titulo-menu i{
        font-size: 16px;
    }
    .contenido-menu nav a{
        display: block;
        text-decoration: none;
        padding: 20px 20px 20px 50px;
        color: #c7c7c7;
        border-left: 5px solid transparent;
        transition: all 400ms ease;
    }
    .contenido-menu nav a:hover{
        border-left: 5px solid #c7c7c7;
        background: #1f1f1f;
    }
  
    /* Contenido principal */

    main.contenedor{
        width: 90%;
        max-width: 1200px;
        margin: 50px auto 0 auto;
    }
    .imagen-principal{
        background-image: url('/assets/img/game1.webp');
        background-size: cover;
        background-position: center bottom;
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color:white;
        border-radius: 30px;
        padding: 50px;
        font-weight: 100;
        box-shadow: 0 5px 20px rgba(255, 255, 255, .2);
    }
    .imagen-principal h1{
        font-size: 56px;
    }
    .imagen-principal p{
        font-size: 24px;
    }
    .imagen-juego1{
        margin-top: 20px;
        background-image: url('/assets/img/game2.png');
        width: 48%;
        height: 300px;
        color: white;
        padding: 50px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

    }
    .imagen-juego1 h3{
        font-size: 40px;
    }
    .imagen-juego1 p{
        font-size: 16px;
        
    }
    .imagen-juego2{
        margin-top: -297px;
        margin-left: auto;
        background-image: url('/assets/img/game3.png');
        width: 48%;
        height: 300px;
        border-radius: 30px;
        color: white;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .imagen-juego2 h3{
        font-size: 35px;
    }
    .btn-precio{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* margin-top: 30px; */
    }
    .btn-precio button{
        width: 200px;
        height: 60px;
        border:none;
        border-radius: 50px;
        background-color: #fc2153;
        color: white;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 100;
        font-family: 'Concert One', sans-serif;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    }
    .btn-precio h3{
        font-size: 54px;
        font-weight: 100;
    }

    /*Estilo registro*/

    .registro{
        width: 400px;
        background-color: darkslateblue;
        padding: 30px;
        margin: auto;
        margin-top: 100px;
        border-radius: 4px;
        font-family: 'concert one', sans-serif;
        color:white;
        box-shadow: 7px 13px 37px #000;
    }
    .registro h4{
        font-size: 22px;
        margin-bottom: 20px;
    }
    .controreg {
        width: 100%;
        background:#24303c;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #1f53c5;
        font-family: 'concert one', sans-serif;
        font-size: 18px;
        color:white;
    }
    .registro p{
        height: 40px;
        text-align: center;
        font-size: 15px;
        line-height: 40px;
    }
    .registro a{
        color: white;
    }
    .registro a:hover{
        color: #000;
        text-decoration: underline;
    }
    .registro .botonreg {
        display: block;
        width: 100;
        background: #1f53c5;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
    }

    /*Estilo login*/

    .login{
        width: 400px;
        background-color: darkslateblue;
        padding: 30px;
        margin: auto;
        margin-top: 100px;
        border-radius: 4px;
        font-family: 'concert one', sans-serif;
        color:white;
        box-shadow: 7px 13px 37px #000;
    }
    .login h4{
        text-align: center;
        font-size: 22px;
        margin-bottom: 20px;
    }
    .contrologin {
        width: 100%;
        background:#24303c;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #1f53c5;
        font-family: 'concert one', sans-serif;
        font-size: 18px;
        color:white;
    }
    .login p{
        height: 40px;
        text-align: right;
        font-size: 15px;
        line-height: 40px;
    }
    #centro{
        height: 40px;
        text-align: center;
        font-size: 15px;
        line-height: 40px;
    }
    .login a{
        color: white;
    }
    .login a:hover{
        color: #000;
        text-decoration: underline;
    }
    .login .botonreg {
        display: block;
        width: 100;
        background: #1f53c5;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
    }